#logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav {
  display: flex;
}
ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  margin: 10px 10px;
  color: black;
}
button a {
  text-decoration: none;
  color: black;
}.meetOne {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  text-align: center;
}
.cardPhase {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 20px;
}